@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');

$headerHeight: 116px;
$fonsColor: #FFFFFF;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
p, h2, h3 {
    margin: 0;
}
a {
    color: #1C2A39;
    text-decoration: none;
}
ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 24px;
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    background-color: $fonsColor;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    display: flex;
    width: 372px;
    text-transform: uppercase;
} 
.menu .activ{
    font-weight: 900;
    color: #1C2A39;
}

.menu ul {
    width: 100%;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.icons img {
    height: 17px;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

// Стили для слайдера

.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $headerHeight;
    background-color: $fonsColor;
    align-items: center;
    padding: 0;
}
.slider_and_button {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.images {
    background-size: cover;
    width: 1120px;
    height: 702px;
}
.slide_0 {
    background-image: url("../images/Slide_1.png");
}

.slide_1 {
    background-image: url("../images/Slide_2.png");
}

.slide_2 {
    background-image: url("../images/Slide_3.png");
}


.slider_button {
    margin-left: -63px;
    display: flex;
    flex-direction: column;
    margin-right: -160px;
}

.old_book {
    margin-top: 82px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 102px;
    background-color: #9E98DC;
    width: 109px;
    height: 102px;
}

.new_book {
    margin-top: 76px;
    margin-left: 83px;
    padding-left: 21px;
    padding-right: 47px;
    padding-top: 149px;
    background-color: #FF8FE6;
    width: 69px;
    height: 124px;
}

.slider_button a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.switch {
    width: 56px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider .container {
    flex-direction: column;
}
aside {
    display: flex;
}
.categories {
    width: 768px;
    height: 608px;
    margin-left: -160px;
    background-color: #EFEEF6;
    padding-top: 45px;
    padding-left: 160px;
    padding-bottom: 58px;
}

.categories button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}

.categories .activ>button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}

.categories .activ {
    list-style-image: url("../images/Ellipse.svg");
}

.books {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $headerHeight;
    background-color: $fonsColor;
    align-items: center;
    padding: 0;
}

.categories li {
    margin-bottom: 16px;
}

//Пишам стиль для карт продукта

.product_card {
    display: flex;
    height: 300px;
    margin-bottom: 91px;
    font-size: 10px;
}

.image_book {
    background-image: url('../images/book-cover-placeholder.jpg');
    background-size: cover;
    width: 212px;
    height: 300px;
}

.books .container {
    justify-content: left;
    align-items: normal;
}

.description {
    width: 176px;
    padding-left: 36px;
    padding-top: 49px;
}

.shelf_of_books {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-top: 46px;
}

.shelf_of_books button {
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    /* identical to box height */

    text-transform: uppercase;

    color: #4C3DB2;
}

.shelf_of_books>button {
    margin-left: 382px;
    margin-bottom: 74px;
}

.container_descrip {
    width: 180px;
    height: 40px;
    padding: 2px;
}

.descrip {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 3.9em;
}

h2 {
    font-size: 16px;
}

.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}






