// src/styles/main.css
$headerHeight: 116px;
$fonsColor: #FFFFFF;

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
p, h2, h3 {
    margin: 0;
}
a {
    color: #1C2A39;
    text-decoration: none;
}
ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 24px;
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    background-color: $fonsColor;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    display: flex;
    width: 372px;
    text-transform: uppercase;
} 

.menu ul {
    width: 100%;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.icons img {
    height: 17px;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

// Стили для слайдера

.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $headerHeight;
    background-color: $fonsColor;
    align-items: center;
    padding: 0;
}
.slider_and_button {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.images {
    background-image: url("../images/Slide_1.png");
    background-size: cover;
    width: 1120px;
    height: 702px;
}

.slider_button {
    margin-left: -63px;
    display: flex;
    flex-direction: column;
    margin-right: -160px;
}

.old_book {
    margin-top: 82px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 102px;
    background-color: #9E98DC;
    width: 109px;
    height: 102px;
}

.new_book {
    margin-top: 76px;
    margin-left: 83px;
    padding-left: 21px;
    padding-right: 47px;
    padding-top: 149px;
    background-color: #FF8FE6;
    width: 69px;
    height: 124px;
}

.slider_button a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.switch {
    width: 56px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider .container {
    flex-direction: column;
}

.categories {
    width: 256px;
    margin-left: -160px;
    background-color: #EFEEF6;
    padding-top: 45px;
    padding-left: 160px;
    padding-bottom: 58px;
}

.categories button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}

.books {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $headerHeight;
    background-color: $fonsColor;
    align-items: center;
    padding: 0;
}

.categories li {
    margin-bottom: 23px;
}

//Пишам стиль для карт продукта

.product_card {
    display: flex;
    height: 300px;
    margin-left: -60px;
    margin-top: 46px;
}

.image_book {
    background-image: url('../images/book-cover-placeholder.jpg');
    background-size: cover;
    width: 212px;
    height: 300px;
}

.books .container {
    justify-content: left;
    align-items: normal;
}

.description {
    width: 176px;
    padding-left: 36px;
    padding-top: 49px;
}

